{%extends 'core/base.html'%}

{% block content%}
    <main>
        <h2 class ='row justify-content-center'> Shopping Cart...</h2>
        {%if cart_products%}
        {%for product in cart_products%} 
        <div class="product-details"> <!--container for the product details-->
          <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">  <!--product image-->
          <div class="product-info">    <!--for product information-->
            <h2>{{ product.name }}</h2>
            <p><strong>{{ product.stock }} items left</strong></p>   <!--stock information-->
            <p class="price">{{ product.price }} EGP</p>
            <div class ='row justify-content-left'>
              <div class="col-md-2">Quantity:</div>
              <div class="col-md-2">
                <select class="form-select form-select-sm" id="select{{product.id}}" >
                    {% for key, value in quantity.items%}
                    {% if key == product.id|slugify%}
                    {{key}}
                    <option selected>{{value}}</option>
                    {%endif%}
                    {%endfor%}
                  
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
            </div>
            <div class="actions">   <!--actions container-->
              <button type ='button' data-index="{{product.id}}" class="update-cart" >Update</button>
              <button type = 'button' data-index="{{product.id}}" class ="btn btn-secondary delete-cart-item">Remove</button>   <!--add to cart button-->
              
            </div>
               
          </div>
        </div>
        {%endfor%}

        <div class="card text-bg-light mb">
          <div class="card-header">Cart Total:</div>
          <div class="card-body">
            <h5 class="card-title">{{ totals}} EGP</h5>
          </div>
        </div>

        {%else%}
        </br></br></br>
        <strong class ='row justify-content-center'>Your Cart Is Empty!</strong>
            </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
        {%endif%}
     </main>
<!-- Footer Section -->



<script>
  // function for update product quantitity in cart
  $(document).on('click', '.update-cart', function(e){
    e.preventDefault();
    var productid = $(this).data('index');
    $.ajax({
     type:'POST',
     url: "/cart/update/",
     data:{ 
         product_id: $(this).data('index'),
         product_qty: $('#select' + productid + ' option:selected').text(),
         csrfmiddlewaretoken: '{{csrf_token}}',
         action: 'post'
     },
     success:function(json){
        location.reload();
     },
     error: function(xhr,errmsg,err){

     }

    });


  })

// function for removing a product from cart 
  $(document).on('click', '.delete-cart-item', function(e){
    e.preventDefault();
    $.ajax({
     type:'POST',
     url: "/cart/delete/",
     data:{ 
         product_id: $(this).data('index'),
         csrfmiddlewaretoken: '{{csrf_token}}',
         action: 'post'
     },
     success:function(json){
        location.reload();
     },
     error: function(xhr,errmsg,err){

     }

    });


  })

</script>



{% endblock%}