{% extends 'core/base.html' %}

{% block content %}
<main class="container my-5">
  <div class="text-center mb-4">
    <h2 class="fw-bold" style="color: #4C4C4C;">ALL our Products in one place...</h2>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">
    {% for product in products %}       <!--for loop over the products-->
    <div class="product-card">
      <div class="card h-100 shadow-sm text-center" style="border: none;">
        <!-- Product Image -->
        <a href="{% url 'core:product_detail' product.name %}" class="text-decoration-none">     <!--link for productdetail page-->
          <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="max-height: 200px; object-fit: contain; background-color: #F8F8F8; padding: 10px;">   <!--product image-->
        </a>
        <!-- product informatin -->
        <div class="card-body d-flex flex-column" style="background-color: #FFFFFF;">
          <h5 class="card-title text-truncate" style="color: #4C4C4C;">{{ product.name }}</h5>
          <p class="card-text fw-bold" style="color: #8C8C8C;">{{ product.price }} EGP</p>
          <div class="mt-auto">
            <a href="{% url 'core:product_detail' product.name %}" class="btn" style="background-color: #8B572A; color: #FFFFFF; border: none;">View Details</a>    <!--button to add to cart-->
          </div>
        </div>
      </div>
    </div>
    {% empty %}
      <p>No products found.</p>         <!--message appears if no products are found -->
    {% endfor %}
  </div>
</main>
{% endblock %}
