{%extends 'core/base.html'%}

{% block content%}
  <!-- Hero Section -->
  <section class="hero">
    <div class="container">
      <h2>Discover, Buy, and Rent the Best Products</h2>
      <p>Your one-stop destination for all products—buy or rent, from electronics to real estate!</p>
      <a href="explore" class="cta-button">Explore Now</a>   <!--button to explore more products-->
    </div>
  </section>

  <!-- Categories Section to display product categories -->
   {% csrf_token%}
  <section class="categories">  
    <div class="container">
      <h3>Categories</h3>  <!--sectin title-->
      <div class="category-grid">
        {% for category in Categorys %}   <!--loops through all categories-->
        <a href="{% url 'core:category' category.title %}" class="category-link">  <!-- Link to category page -->
          <div class="category-item">{{ category.title }}</div>   <!-- Displays the category title -->
       </a>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- Featured Products Section -->
  <section class="featured">   <!-- Displaying featured products -->
    <div class="container">
      <h3>Featured Products</h3>   <!-- Title for featured products -->
  
      <div class="product-grid"> <!-- Move product-grid div here to wrap all product cards -->
        {% for product in products %}   <!-- Loop through the featured products -->
          {% if product.name == 'samsung galaxy A55' or product.name == 'office chair' %}  <!-- Checks for specific products -->
            <div class="product-card">
              <a href="{% url 'core:product_detail' product.name %}">   <!-- Link to the product detail page -->
                <img src="{{product.image.url}}" alt="{{ product.name }}">
              </a>
              <h4>{{product.name}}</h4>
              <p class="price">{{product.price}} EGP</p>
            </div> <!-- Close product-card div here -->
          {% endif %}
        {% endfor %}
      </div> <!-- Close product-grid div here -->
    </div>
  </section>

{% endblock%}


  