<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">    <!-- make the page responsive to different screen sizes-->
  <title>FTTF Login</title>    <!--make the tittle for the page-->
  {% load static %}   <!--load static files from Django-->
  <link rel="stylesheet" href="{% static 'assets/login.css' %}">   <!--to read the css file for styling-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  {% if messages %}
  {%for message in messages%}    <!--for loop to loop through all availbale messages-->

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}    <!--display the message content-->
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>


  {%endfor%}

{%endif%}
  <div class="container">    <!--make container for the main content-->
    <header>
      <h1 class="logo">FTTF</h1>    <!--logo of the page-->
      <nav>
        <ul>
          <li><a href="/login" class="active">login</a></li>   <!--link to the login page-->
          <li><a href="/">Home</a></li> 
          <li><a href="/signup">signup</a></li>  <!-- link for the login page-->
          
        </ul>
      </nav>
    </header>

    <main>

            <!--login form section-->
      <div class="login-form">
        <h2>Login to Your Account</h2>
        <form method="POST" >
        {% csrf_token %}
          <div class="input-group">   <!--input part for username-->
            <label for="username">username:</label>
            <input type="text" id="username" name ="username" placeholder="Enter your username" required>
          </div>
          <div class="input-group">    <!--input part for password-->
            <label for="password">Password:</label>
            <input type="password" id="password" name ="password" placeholder="Enter your password" required>
          </div>
          <div class="buttons">    <!--buttons for submission-->
            <button type="submit" class="login-btn">Login</button>
            {%load socialaccount %}
            <a href="{% provider_login_url 'google'%}?next=/"  class="google-btn d-flex align-items-center justify-content-center">Login with Google</a>
          </div>
        </form>
        <p class="register-link">Don't have an account? <a href="/signup">Register here</a></p>   <!--link for signup page-->
        <a href="/password_reset/" >Forgot password?</a>
      </div>
    </main>
  </div>
</body>
</html>