{%extends 'core/base.html'%}

{% block content%}


<form method="post">
    {% csrf_token %}
    <center>
        <h2>Hello {{username}} Enter New Password</h2>
        <div >   <!--input part for password-->
            <label for="password">Password:</label>
            <input type="password" id="password" name ="password"placeholder="Enter your password">
          </div>
          <div >   <!--input part for password confirmation-->
            <label for="cpassword">Confirm Password:</label>
            <input type="password" id="cpassword" name ="cpassword" placeholder="Enter your password">
          </div>
          <button type="submit">Change Password</button>
    </center>
    
</form>


</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
{% endblock%}
