{% extends 'core/base.html' %}

{% block content %}
<main class="container my-5 d-flex flex-column" style="min-height: 80vh;">

  <div class="row justify-content-center mt-auto mb-auto">
    <div class="col-md-6">     <!-- column to specify the width of the card -->
      <div class="card shadow">
        <div class="card-body">   <!-- body of the card -->
         


          <h2 class="text-center fw-bold mb-4" style="color: #4C4C4C;">Hello {{ username }}, Enter New Password</h2>    <!-- heading -->    
          <form method="post">    <!-- start form -->
            {% csrf_token %}
           
            <div class="mb-3">    <!-- pass input container -->
              <label for="password" class="form-label fw-bold">Password:</label>     <!-- password label -->
              <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password" required>       <!-- password input -->
            </div>
           
            <div class="mb-3">         <!-- confirm pass input container -->
              <label for="cpassword" class="form-label fw-bold">Confirm Password:</label>
              <input type="password" id="cpassword" name="cpassword" class="form-control" placeholder="Enter your password" required>
            </div>
          

            <div class="text-center">   <!-- submit button container -->
              <button type="submit" class="btn" style="background-color: #8B572A; color: #FFFFFF; width: 100%;">Change Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
