{%extends 'core/base.html'%}

{% block content%}



{%if username %}
<center> 
    <h2>Please check your email {{username}}</h2>
    <p>We have sent you the reset link..</p>
</center>
{%else%}
<center>
    <form method="post">
    {% csrf_token %}
    <h2>Password Reset</h2>
    <div >  <!--input part for email-->
        <label for="email">Email:</label>
        <input type="email" id="email" name ="email" placeholder="Enter your email">
      </div>
    <button type="submit">Reset Password</button>
</form>
</center>
{%endif%}

</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
{% endblock%}