{% extends 'core/base.html' %}

{% block content %}
<main class="container my-5">

  <div class="text-center mb-4">
    <h1 class="fw-bold" style="color: #4C4C4C;">Search Results for "{{ query }}"</h1>     <!-- showing search category name-->
  </div>

  <div class="product-grid">

    {% for product in products %}  <!--for loop over the products-->
    <div class="col">   <!-- column for each product -->
      <div class="card h-100 shadow-sm text-center" style="border: none;">
        <!-- Product Image -->
        <a href="{% url 'core:product_detail' product.name %}" class="text-decoration-none">    <!--link for productdetail page-->
          <img src="{{ product.image.url }}"product-grid"" class="card-img-top" alt="{{ product.name }}" style="max-height: 200px; object-fit: contain; background-color: #F8F8F8; padding: 10px;">    <!--product image-->
        </a>
        <!-- Product Info -->
        <div class="card-body d-flex flex-column" style="background-color: #FFFFFF;">   <!-- card body for product details -->
          <h5 class="card-title text-truncate" style="color: #4C4C4C;">{{ product.name }}</h5>
          <p class="card-text fw-bold" style="color: #8C8C8C;">{{ product.price }} EGP</p>
          <div class="mt-auto">      <!-- container for the 'View Details' button -->
            <a href="{% url 'core:product_detail' product.name %}" class="btn" style="background-color: #8B572A; color: #FFFFFF; border: none;">View Details</a>  <!--button to view details-->
          </div>
        </div>
      </div>
    </div>
    {% empty %}
      <p class="text-center">No products found.</p>     <!--message appears if no products are found -->
    {% endfor %}
  </div>
</main>
{% endblock %}
